grpcio
h5py
ipython
numpy
pip
scipy
termcolor
typeguard
wheel
absl-py
astunparse
flatbuffers
gast
google-pasta
keras-preprocessing
opt_einsum
protobuf
tensorboard
tensorflow-estimator
termcolor
typing_extensions
wrapt